#Будет игнорироваться каталог tmp
tmp/
#Будут игнорироваться все файлы Thumbs.db
Thumbs.db
#Будут проигнорированы файлы .DS_Store
.DS_Store
#Будут проигнорированы файлы _old
*_old
#Будут проигнорированы файлы _backup
*_backup

